<div class="user-form">
  <form [formGroup]="myForm" class="user-form-content">
    <div class="close-button">
      <button (click)="closeForm()">X</button>
    </div>

    <hr />

    <span>
      Name:
      <input formControlName="name" />
    </span>

    <span>
      Email:
      <input formControlName="email" />
    </span>

    <span>
      Role:
      <select
        name="role"
        id="role"
        formControlName="role"
        [disabled]="myForm.invalid"
      >
        <option value="" disabled selected>Select an option</option>
        <option value="admin">Admin</option>
        <option value="editor">Editor</option>
        <option value="viewer">Viewer</option>
      </select>
    </span>

    <hr />
    <div class="close-button">
      <button (click)="addUser()" class="add-user-button">Add user</button>
    </div>
  </form>
</div>
